:root {
  --main-text-color: rgba(10, 50, 10, 1);
}

body {
  background-color: rgba(150, 150, 0, 0.5);
  color: var(--main-text-color);
}

ul,
li,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px 50px;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(10, 50, 10, 1);
  font-size: 24px;
}

header > a {
  color: inherit;
  font-size: 24px;
  font-weight: 500;
  transition: all 0.5s linear;
}

header > a:hover {
  color: rgb(255, 20, 20);
  transform: scale(1.2);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start {
  padding: 30px;
}

.start__title {
  font-size: 34px;
}
.game-field {
  margin: 30px auto 0;
}
.game-field__points {
  font-size: 20px;
}
.game-field__round {
  font-size: 30px;
}
.player-choice {
  width: 90vw;
  padding: 10vw;
  display: flex;
  gap: 10%;
  background-color: rgba(150, 150, 0, 0.3);
  border-radius: 20px;
  border: 2px solid var(--main-text-color);
}

.player-choice > legend {
  font-size: 24px;
  font-weight: 500;
}

.player-choice > button {
  padding: 10px 0;
  width: 20vw;
  background-color: aliceblue;
  color: var(--main-text-color);
  border: 3px solid var(--main-text-color);
  font-size: 20px;
  font-weight: 500;
  border-radius: 20px;
  transition: all 0.5s linear;
}

.player-choice > button:hover {
  background-color: var(--main-text-color);
  color: aliceblue;
  transform: scale(1.2);
}

.result-game,
.error {
  visibility: hidden;
  position: absolute;
  top: -100%;
  left: -100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(20, 20, 20, 0.9);
}
.result-game.open,
.error.open {
  visibility: visible;
  top: 0;
  left: 0;
}
.result-game > p {
  font-size: 24px;
  font-weight: 600;
}
.result-game > p.win {
  color: green;
}
.result-game > p.lose {
  color: red;
}

.calkulator {
  margin: 20px auto 0;
}

.calculator__output {
  margin: 0 auto 30px;
  padding: 10px;
  width: 70%;
  min-height: 60px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 30px;
  text-align: end;
  overflow: hidden;
}

.calcutor__list-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.calcutor__list-btn > li {
  width: 20%;
}

.calcutor__btn {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  background-color: aliceblue;
  color: var(--main-text-color);
  border: 3px solid var(--main-text-color);
  font-size: 25px;
  font-weight: 500;
  transition: all 0.5s linear;
}

.calcutor__btn:hover {
  background-color: var(--main-text-color);
  color: aliceblue;
}

.calcutor__btn:disabled {
  background-color: red;
  cursor: not-allowed;
}

.error__message {
  margin: 50px auto 0;
  padding: 20px;
  text-align: center;
  width: 80%;
  font-size: 24px;
  color: red;
}

.shipsBattle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.shipsBattle__fields {
  display: flex;
  gap: 10%;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  color: var(--main-text-color);
}

.shipsBattle__all {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 500;
  color: brown;
  margin-top: 20px;
}

.shipsBattle__row {
  display: flex;
}

.shipsBattle__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.shipsBattle__item.water{
  background-color: blue;
}

.ship-red {
  background-color: red;
}

.shipsBattle__user-field .ship-green {
  background-color: green;
}

.shipsBattle__comp-field .ship-green{
  background-color: transparent;
}

.ship-red-bor {
  border: 1px solid red;
}

.shipsBattle__port {
  position: relative;
  min-height: 160px;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.shipsBattle__text {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
  font-size: 20px;
  font-weight: 500;
  color: blue;
}

.shipsBattle__text.turn {
  top: 40%;
  left: auto;
  right: 20px;
}

.shipsBattle__port.none {
 display: none;
}

.shipsBattle__port > div {
  width: 30px;
  height: 30px;
  background-color: blue;
  cursor: pointer;
}

.shipsBattle__port > #h2 {
  width: 60px;
}

.shipsBattle__port > #h3 {
  width: 90px;
}

.shipsBattle__port > #h4 {
  width: 120px;
}

.shipsBattle__port > #v2 {
  height: 60px;
}

.shipsBattle__port > #v3 {
  height: 90px;
}

.shipsBattle__port > #v4 {
  height: 120px;
}

.shipsBattle__port > .ship.none {
  display: none;
}

.shipsBattle__button.none{
  display: none;
}

.shipsBattle__button{
  padding: 10px 30px;
  border: 1px solid var(--main-text-color);
  border-radius: 10px;
  background-color: inherit;
  color: inherit;
  font-size: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 400px) {
  header {
    padding: 20px 10px;
    font-size: 20px;
  }
  .player-choice > button {
    font-size: 14px;
  }
}
