:root {
  --main-text-color: rgba(10, 50, 10, 1);
}

body {
  background-color: rgba(150, 150, 0, 0.5);
  color: var(--main-text-color);
}

ul,
li,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px 50px;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(10, 50, 10, 1);
  font-size: 24px;
}

header > a {
  color: inherit;
  font-size: 24px;
  font-weight: 500;
  transition: all 0.5s linear;
}

header > a:hover {
  color: rgb(255, 20, 20);
  transform: scale(1.2);
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start {
  padding: 30px;
}

.start__title {
  font-size: 34px;
}
.game-field {
  margin: 30px auto 0;
}
.game-field__points {
  font-size: 20px;
}
.game-field__round {
  font-size: 30px;
}
.player-choice {
  width: 90vw;
  padding: 10vw;
  display: flex;
  gap: 10%;
  background-color: rgba(150, 150, 0, 0.3);
  border-radius: 20px;
  border: 2px solid var(--main-text-color);
}

.player-choice > legend {
  font-size: 24px;
  font-weight: 500;
}

.player-choice > button {
  padding: 10px 0;
  width: 20vw;
  background-color: var(--main-text-color);
  color: aliceblue;
  font-size: 20px;
  font-weight: 500;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.5s linear;
}

.player-choice > button:hover {
  background-color: rgb(255, 20, 20);
  transform: scale(1.2);
}

.result-game {
  visibility: hidden;
  position: absolute;
  top: -100%;
  left: -100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(20, 20, 20, 0.9);
}
.result-game.open {
  visibility: visible;
  top: 0;
  left: 0;
}
.result-game > p {
  font-size: 24px;
  font-weight: 600;
}
.result-game > p.win {
  color: green;
}
.result-game > p.lose {
  color: red;
}

.calkulator {
  margin: 20px auto 0;
}

.calculator__output {
  margin: 0 auto 30px;
  padding: 10px;
  width: 70%;
  min-height: 50px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 30px;
  text-align: end;
}

.calcutor__list-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.calcutor__list-btn > li {
  width: 20%;
}

.calcutor__btn {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid black;
  color: inherit;
  font-size: 25px;
  cursor: pointer;
}

.calcutor__btn:disabled {
  background-color: red;
  cursor: not-allowed;
}

@media screen and (max-width: 400px) {
  header {
    padding: 20px 10px;
    font-size: 20px;
  }
  .player-choice > button {
    font-size: 14px;
  }
}
